<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrprona.brawlassistant"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".SCApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Infodota">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".base.activity.SteamLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Infodota.Dark" />
     <!--   <activity
            android:name="com.mrprona.dota2assitant.base.activity.ListHolderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreenTheme"
            android:windowSoftInputMode="adjustNothing"></activity>-->
        <activity
            android:name=".base.activity.HorizontalNtbActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreenTheme"
            android:windowSoftInputMode="adjustNothing"></activity>

        <activity
            android:name=".hero.activity.HeroInfoActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".hero.activity.GuideActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".item.activity.ItemInfoActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".base.activity.AboutActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".hero.activity.GuideCreatorActivity"
            android:configChanges="keyboard|orientation|screenSize" />
        <activity
            android:name=".item.activity.ItemSelectActivity"
            android:configChanges="keyboard|orientation|screenSize" />

        <activity
            android:name=".news.activity.NewsItemActivity"
            android:configChanges="keyboard|orientation|screenSize" />

        <activity
            android:name="com.util.infoparser.InfoParserActivity"
            android:configChanges="keyboard|orientation|screenSize"></activity>

        <activity
            android:name="com.chartboost.sdk.CBImpressionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity android:name=".base.activity.FullAdsActivity"></activity>

        <!--
            <activity
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                android:name="com.google.ads.AdActivity" />
        -->

        <activity
            android:name=".base.activity.SplashActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service
            android:name="com.octo.android.robospice.UncachedSpiceService"
            android:exported="false" />
        <service
            android:name=".base.service.LocalSpiceService"
            android:exported="false" />

        <service android:name=".base.service.notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".base.service.notification.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvidercom.mrprona.brawlassistant"
            android:exported="true" />

    </application>

</manifest>